---
---

@font-face {
  font-family: 'Metropolis-Regular';
  src: url("/assets/fonts/Metropolis/woff2/Metropolis-Regular.woff2") format("woff2");
}

:root {
  --content-bg-color: rgba(0, 0, 0, 0.8); }

* {
  margin: 0;
  padding: 0; }

html, body {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Metropolis-Regular', sans-serif;
}

a {
  text-decoration: none;
  color: white; }

.wrapper {
  height: 100%;
  width: 100%;
  }

.content {
	width: 940px;
	margin: 0px auto;
	padding: 30px;
  font-size: 25px;
 }

