---
---
#header {
	width: 100%;
	height: 90px;
	line-height: 90px;
	background-color: #1f1f1f;
	color: white;
	font-size: 20px;
	font-family: 'Metropolis-Regular', sans-serif;
}

#logo {
	display: inline;
	float: left;
	width: 70px;
	height: 70px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 10px;
	background-image: url('/assets/images/horizon.png');
	background-size: cover;

}

nav {
	width: 400px;
	margin: 0 auto;
}

.nav-link {
	display: inline;
	float: left;
	width: 80px;
	text-align: center;
}


#burger {
	position: relative;
	display: inline;
	float: right;
	width: 30px;
	height: 100%;
	margin-right: 50px;

}
