---
---

#bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/horizon_dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

#particles-js {
  width: 100%;
  height: 100%; }

#particles-js {
  animation-name: fade-in;
  animation-duration: 4s; }

.header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  color: white;
  font-size: 25px;
}

nav {
  width: 250px;
  font-size: 30px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
}

.navlink {
  display: inline;
  width: 250px;
  margin-top: 50px;
  padding-top: 8px;
  float: left;
  text-align: center;
}

#topright {
  outline: 2px solid white;
  margin-top: 50px;
  margin-right: 10%;
  padding: 8px;
  float: right;
}

.banner {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;  
  margin: auto;
  width: 500px;
  height: 500px;
  padding: 30px;

}

.banner-text {
  width: 250px;
  height: 250px;
  display: inline;
  float: left;
  font-size: 40px;
  color: white;
  font-family: 'Metropolis-Regular', sans-serif;
  line-height: 70px;
}

#name {
  font-size: 80px;
}

.banner-logo {
  width: 250px;
  height: 250px;
  display: inline;
  float: left;
  background-image: url('/assets/images/horizon-indigo.png');
  background-size: cover;

}

@keyframes changeLetter {
  0% {
    content: "A";
  }
  50% {
    color: white;
  }
  100% {
    content: "B";
  }
}

#skills::after {
  animation: changeLetter 1s linear infinite alternate;
}


.social-links {
  width: 210px;
  height: 70px;
  margin-top: -15px;
  margin-left: -15px;
}
.social {
  display: inline;
  float: left;
  width: 70px;
  height: 70px;
}

#bloglink {
  margin: 300px auto;
  width: 250px;
  height: 60px;
  font-size: 60px;
  clear: both;
  text-align: center;
}


