---
---
html body {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Suranna', serif;
}

a {
	text-decoration: none;
}

.title {
	width: 1000px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 70px;
	font-weight: 400;
	line-height: 50px;
	font-family: 'Suranna', serif;
}
.post-date {
	font-size: 25px;
	color: grey;
}

.page-content {
	width: 1000px;
	margin: 0 auto;
	padding: 15px;
	font-size: 20px;
	line-height: 35px;
}

.home {
	width: 800px;
	margin: 0 auto;
}

.post-list {
	padding: 0;
	list-style: none;
}

.post-list li {
	width: 100%;
	height: 120px;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #b4b4b4;
}

#footer {
	width: 100%;
	height: 80px;
	text-align: center;
}

.social {
	width: 50px;
	height: 50px;
}