--- 
layout: null 
---
<!DOCTYPE html>
<html lang=en>

<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/main.css?=time()">
</head>

<body onload="textChange()">
    <div id='bg'>
        <div id='particles-js'></div>   
    </div>
   <div class='header'>
   <!--      <nav>
            <ul>
                <li class='navlink'><a href='/blog'>Learn</a></li>
                <li class='navlink'><a href='/tunes'>Apps</a></li>
                <li class='navlink'><a href='/apps'>Tunes</a></li>
            </ul>
        </nav>-->
        <!--<div id='topright'><a href="mailto:joe@jsnow.co.uk">contact</a></div>-->
    </div>
    <div class='banner'>
        <div class='banner-text'><div id='name'>Joe<br>Snow</div><div id='greeting'>Developer</div>
            <div class='social-links'>
                <a href='https://gitlab.com/snsv' target='_blank'><img class='social' src='/assets/gitlab-logo.svg'></a>
                <a href='https://twitter.com/snsvim' target='_blank'><img class='social' src='/assets/twitter-logo.svg'></a>
                <a href='https://instagram.com/snsvim' target='_blank'><img class='social' style='width: 40px;margin-left: 10px;' src='/assets/ig-logo.svg'></a>
            </div>
        </div>
        <div class='banner-logo'></div>
        <div id='bloglink'><a href='/blog'>Explore</a></div>
    </div>
    
    <script src="/assets/js/particles.min.js"></script>
    <script src='/assets/js/particles-config.js'></script>
    <!--<script src='/assets/js/texts-change.js'></script>-->
</body>
</html>
<!-- 
    Credit for the particle effect used on this page goes to Vincent Garreau
    particles.js: https://vincentgarreau.com/particles.js/
-->