<title>JS | Home </title>
<link rel="shortcut icon" href="/assets/favicon/favicon.png">
<script src="http://livejs.com/live.js"></script>
<link rel="stylesheet" type="text/css" href="/css/global.css?=time()">
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Suranna&display=swap" rel="stylesheet">