<!DOCTYPE html>
<html>

<head>
{% include head.html %}
<link rel="stylesheet" type="text/css" href="/css/header.css?=time()">
<link rel="stylesheet" type="text/css" href="/css/post.css?=time()">
</head>
<body>
    {% include header.html %}
      <div class="wrapper">
      	<div class="content">
        {{ content }}
    	</div>
      </div>
    {% include footer.html %}

  </body>

</html>
